@font-face {
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    src: local('Palatino Linotype'), url('https://fonts.cdnfonts.com/s/13595/pala.woff') format('woff');
}
